<h1>Create your new Article here</h1>

<form action="/articles" method="post">
  <p>Article title: <input type="text" name="title"></p>
  <p>Article content: <input type="text" name="content"></p>
  
  
  <button type="submit">Submit</button>
</form>